/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Css reset */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.home-img {
  padding-top: 15rem;
  background-image: url("../src/assets/headerIMG.jpg");
  width: 100%;
  height: 100rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-header-text{
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  top: 43rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.home-header-text h1{
  font-size: 6rem;
  margin-top: 3.5rem;
  margin-left: -3rem;
  color: white;
}

.about-me{
  height: 60rem;
  background-color: black;
  display: flex;
}
.about-me div{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.about-me h2{
  color:white;
}
.about-me img{
  border-radius: 50%;
  width: 40rem;
}
.skills{
  height: 30rem;
  background-color: dimgray;
}