.about-me {
  height: 60rem;
  background-color: black;
  display: flex;
}
.about-me div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me h2 {
  color: white;
}
.about-me img {
  border-radius: 50%;
  width: 40rem;
}
